---
import BlogCard from '@/components/BlogCard.astro'
import BlogCard1 from '@/components/BlogCard1.astro'
import Link from '@/components/Link.astro'
import { badgeVariants } from '@/components/ui/badge'
import { buttonVariants } from '@/components/ui/button'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { Icon } from 'astro-icon/components'
import { getCollection } from 'astro:content'
import { ChevronRight } from 'lucide-react'

const blog = (await getCollection('blog'))
  .filter((post: any) => !post.data.draft)
  .sort((a: any, b: any) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.featuredPostCount)

const allPosts = (await getCollection('blog'))
  .filter((post: any) => !post.data.draft)
  .sort((a: any, b: any) => b.data.date.valueOf() - a.data.date.valueOf())

const tagCounts = blog.reduce((acc: any, post: any) => {
  post.data.tags?.forEach((tag: any) => {
    acc.set(tag, (acc.get(tag) || 0) + 1)
  })
  return acc
}, new Map())

const tags = [...tagCounts.keys()].sort((a, b) => {
  const countDiff = tagCounts.get(b)! - tagCounts.get(a)!
  return countDiff !== 0 ? countDiff : a.localeCompare(b)
})

const mangaPosts = allPosts
  .filter((post: any) => post.data.tags?.includes('manga'))
  .slice(0, 4)
const animePosts = allPosts
  .filter((post: any) => post.data.tags?.includes('anime'))
  .slice(0, 4)
---

<Layout
  title="Home"
  description={SITE.description}
  image="/static/1200x630.png"
>
  <section class="mb-4">
    <div>
      <h1
        class="font-instrument text-5xl font-bold tracking-tighter text-red-500 italic"
      >
        Hokori Otaku Collections
      </h1>
      <p class="leadding-tight mt-2 text-xl tracking-tight">
        Welcome to my world. I’m passionate about anime, manga, movies, music,
        and books. I love all kinds of pop culture and share my interests on
        Instagram. Join me if you’re interested!
      </p>
    </div>
  </section>
  <section class="flex flex-col gap-y-4">
    <h2 class="border-b pb-2 text-2xl font-bold">Latest posts</h2>
    <ul class="not-prose flex flex-col gap-y-4">
      {
        blog.map((post: any) => (
          <li>
            <BlogCard entry={post} />
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center">
      <Link
        href="/blog"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        See all posts <span
          class="ml-1.5 transition-transform group-hover:translate-x-1"
          >&rarr;</span
        >
      </Link>
    </div>
  </section>
  <section class="flex flex-col gap-y-4">
    <div class="flex items-center justify-between border-b pb-2">
      <h2 class="text-2xl font-bold uppercase">Anime Posts</h2>
      <a class="flex items-center hover:underline" href="/tags/anime"
        >See All <ChevronRight size={18} /></a
      >
    </div>
    {
      animePosts.length > 0 ? (
        <ul class="not-prose flex snap-x snap-mandatory gap-4 overflow-x-auto scroll-smooth">
          {animePosts.map((post) => (
            <li class="w-[min(80%,300px)] flex-shrink-0 snap-start">
              <BlogCard1 entry={post} />
            </li>
          ))}
        </ul>
      ) : (
        <p>No posts available in anime tag yet.</p>
      )
    }
  </section>
  <section class="flex flex-col gap-y-4">
    <div class="flex items-center justify-between border-b pb-2">
      <h2 class="text-2xl font-bold uppercase">Manga Posts</h2>
      <a class="flex items-center hover:underline" href="/tags/manga">
        See All <ChevronRight size={18} />
      </a>
    </div>
    {
      mangaPosts.length > 0 ? (
        <ul class="not-prose flex snap-x snap-mandatory gap-4 overflow-x-auto scroll-smooth">
          {mangaPosts.map((post: any) => (
            <li class="w-[min(80%,300px)] flex-shrink-0 snap-start">
              <BlogCard1 entry={post} />
            </li>
          ))}
        </ul>
      ) : (
        <p>No posts available in manga tag yet.</p>
      )
    }
  </section>
  <section class="flex flex-col gap-y-4">
    <h2 class="text-2xl font-bold">Posts by Tags</h2>
    <div class="flex flex-wrap gap-2">
      {
        tags.map((tag) => (
          <a
            href={`/tags/${tag}`}
            class={badgeVariants({ variant: 'secondary' })}
          >
            <Icon name="lucide:hash" class="size-3 -translate-x-0.5" />
            {tag}
          </a>
        ))
      }
    </div>
  </section>
</Layout>
